html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}


[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}


abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: white;
    color: #000;
}


small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}


svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}


hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}


code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}


button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}


button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


input {
    line-height: normal;
}


input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}



input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}


input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}



legend {
    border: 0;
    padding: 0;
}


textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

hr {
    height: 30px;
    border-style: solid;
    border-color: #ff0000;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}


hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #ff0000;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

a.yellow{
    width: 40%;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid orange;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 20px;
}

a.red{
    width: 40%;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: 1px solid red;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 20px;
}

a.green{
    width: 40%;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: 1px solid greenyellow;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 20px;
}

a.gray{
    width: 40%;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 20px;
}

a {
    text-decoration: none;
    background-image: linear-gradient(to right, black , red);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover {
    background-size: 100% 2px;
}

.center{
    text-align: center;
    color: orangered;
}

.green{
    color: #169400;
}



span{
    color: blue;
}


html {
    font-size: 100%;
    font-family: "Tw Cen MT", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    color: black;
}



a:link, a:visited{
    text-decoration: none;
    color:#3F2600;
}

body{
    background: url("../images/bg.jpg");
}

body > * {
    margin: 0.5rem;
}

body > header{
    border-radius: 1rem;
    text-align:center;
    background-image: linear-gradient(to right, orange , yellow,orange);
    min-height: 120px;
}

body > nav{
    border-radius: 1rem;
    background-image: linear-gradient(to right, orange , yellow);
}

body > footer{
    font-size: 0.8rem;
}

main > article{
    background-color: white;
    border-radius: 1rem;
    padding: 0.3rem;
    margin-bottom: 1rem;
}

main > article > *{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

main > article > h2{
    background-color: white;
    border-radius: 1rem;
    margin: 0;
}

body > aside{
    background-image: linear-gradient(to right, yellow , orange);
    border-radius: 1rem;
    color: grey;
    font-size: 0.9em;
    padding: 0.5em;
    width: 9rem;
}

.img-size{

    max-height: 300px;
}
















@media only screen and (min-width: 1001px){

    body{
        min-width: 35rem;
        max-width: 60rem;
        margin-left: auto;
        margin-right: auto;



        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto 1fr auto;

        display: -ms-grid;
        -ms-grid-columns: auto 1fr auto;
        -ms-grid-rows: auto 1fr auto;
    }

    body > header{
        grid-column-start: 1;
        grid-row-start: 1;

        -ms-grid-column: 1;
        -ms-grid-row: 1;


        grid-column-end: 4;
        -ms-grid-column-span: 3;
    }

    body > main{
        grid-column-start: 2;
        grid-row-start: 2;

        -ms-grid-column: 2;
        -ms-grid-row: 2;


        grid-row-end: 4;
        -ms-grid-row-span: 2;
    }

    body > nav{
        width: 9rem;

        grid-column-start: 1;
        grid-row-start: 2;

        -ms-grid-column: 1;
        -ms-grid-row: 2;
    }

    body > footer{
        width: 7rem;

        grid-column-start: 1;
        grid-row-start: 3;

        -ms-grid-column: 1;
        -ms-grid-row: 3;
    }

    body > aside{
        grid-column-start: 3;
        grid-row-start: 2;

        -ms-grid-column: 3;
        -ms-grid-row: 2;
    }

    .menuLink{
        display: none;
    }

    .img-size{
        max-width: 500px;
    }

}



@media only screen and (max-width: 1000px){

    .span{
        display: none;
    }
    body{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    body > nav{

        width: 9rem;
        position: fixed;
        left: auto;
        top: 6.4rem;

        background-image: linear-gradient(to right, yellow , orange);
        opacity: 90%;
        grid-column-start: 1;
        grid-row-start: 2;

        -ms-grid-column: 1;
        -ms-grid-row: 2;

    }

    body > aside{
        display: none;
    }


    .lock{
        display: none;
    }

    body > footer{
        order: 1;
    }

    .img-size{
        max-width: 375px;
    }

}



.span {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(0,0,0,.4);
    -webkit-animation: run 2s infinite ease-in-out;
    animation: run 2s infinite ease-in-out;
}

.one {
    background: #F3B222;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.two {
    background: #F0653E;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.three {
    background: #B9C0C0;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.four {
    background: #8F7473;
}

@-webkit-keyframes run {
    0% {
        transform: translate(0%);
        border-radius: 50%;
    }
    25% {
        transform: translate(150%) scale(0.5);
        border-radius: 0%;
    }
    50% {
        transform: translate(150%, 150%);
        border-radius: 50%;
    }
    75% {
        transform: translate(0%, 150%) scale(0.5);
        border-radius: 0%;
    }
}
@keyframes run {
    0% {
        transform: translate(0%);
        border-radius: 50%;
    }
    25% {
        transform: translate(150%) scale(0.5);
        border-radius: 0%;
    }
    50% {
        transform: translate(150%, 150%);
        border-radius: 50%;
    }
    75% {
        transform: translate(0%, 150%) scale(0.5);
        border-radius: 0%;
    }
}







.loader{
    width: 9rem;
    position: fixed;
    left: auto;
    top: 6.4rem;
}











.svg-wrapper {
    height: 60px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 320px;
}

.shape {
    fill: transparent;
    stroke-dasharray:  0;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: black;
}

.text {
    color: black;
    font-size: 22px;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    top: -48px;
}

@keyframes draw {
    0% {
        stroke-dasharray: 90;
        stroke-dashoffset: -474;
        stroke-width: 8px;
    }
    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        stroke-width: 2px;
    }
}

.svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
}





