body{
    margin: 0;
}

h1{
    font-family:Snell Roundhand, cursive;
    font-style: italic;
    justify-content: center;
    margin-bottom:50px;
    text-align: center;
}

h1.YellowTopic{
    color: white;
}
.text-top{
    text-decoration: none;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 17px;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    padding: 20px;

}



img {
    background-repeat: no-repeat;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}

div.MainTopic{

    justify-content: center;
    text-align: center;
    background: -moz-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(191,191,191,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(191,191,191,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(191,191,191,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(191,191,191,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(191,191,191,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(191,191,191,1) 100%); /* w3c */
}

.MainTopic>p, .MainTopic>h2{
    font-style: oblique;
}



div.MainTopic>h2{
    margin-top: 20px;
    font-size: 30px;
}

div.MainTopic>p{

    color: rgb(49, 49, 49);
}





div.grid-item-6{
    justify-content: center;
    text-align: center;
    background: -moz-linear-gradient(270deg, rgba(191,191,191,1) 0%, rgba(255,255,255,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(191,191,191,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(191,191,191,1) 0%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(191,191,191,1) 0%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(191,191,191,1) 0%, rgba(255,255,255,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(191,191,191,1) 0%, rgba(255,255,255,1) 100%); /* w3c */

    background-position: center center;
    background-size: cover;
    height: 200px;
    color: black;
}




.grid{
    display: grid;
    grid-template-areas: "a a"
    "b c"
    "d e"
    "f f"
}



.grid-item-1{
    grid-area: a;
}

.grid-item-2{
    grid-area: b;
}

.grid-item-3{
    grid-area: c;
}

.grid-item-4{
    grid-area: d;
}

.grid-item-5{
    grid-area: e
}

.grid-item-6{
    grid-area: f
}





div.grid-item-3>p , div.grid-item-4>p{
    justify-content: center;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-top:20%;
    font-size: 23px;
}

div.grid-item-5>h1 , div.grid-item-2>h1{
    justify-content: center;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-top:30px;
    font-size: 35px;
}












.grid-item-2,.grid-item-3,.grid-item-4,.grid-item-5{
    min-height: 350px;
    background: white;
    background-size: cover;
    justify-content:center;
}



div.grid-item-2{
    background: url(https://wallpaperaccess.com/full/156614.jpg);
    background-size: cover;
    justify-content:center;
}


div.grid-item-3:hover {
    background: url(https://images5.alphacoders.com/734/734972.jpg);
    background-size: cover;
    justify-content: center;
}

div.grid-item-4:hover{
    background-image:url(https://wallpaperaccess.com/full/156712.jpg);
    background-position: center center;
    background-size: cover;
    justify-content:center;
}

div.grid-item-5{
    background-image:url(https://www.wallpaperup.com/uploads/wallpapers/2016/02/13/892954/7e706a28356f74d669000acd9b41552c-700.jpg);
    background-position: center center;
    background-size: cover;
    justify-content:center
}

div.grid-item-6>p{
    border: black 1px solid;
    margin: 20px;
    border-radius: 15px;
    background: white;
    padding: 20px;
}

span{
    color: orangered;
}

.thispage{
    border-radius: 20px;
    background: black;
    color: white;
}

.hoverable:hover{
    border-radius: 20px;
    background: orangered;
}




















@media only screen and (max-width: 1000px){

    .grid{
        display: grid;
        grid-template-areas: "a"
        "b"
        "c"
        "d"
        "e"
        "f";

    }

    .text-top{
        text-decoration: none;
        color: gray;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        height: 100%;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 17px;
        justify-content: center;
        background-position: center center;
        background-size: cover;
        padding: 20px;

    }
}








