
@{
    ViewData["Title"] = "About";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background: url("http://getwallpapers.com/wallpaper/full/c/9/6/361784.jpg");
            background-size: cover;
            justify-content: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            position: relative;
            display: block;
        }

        h1 {
            font-family: Brush Script MT, Brush Script Std, cursive;
            font-size: 100px;
        }


        div {
            color: #ffffff;
            padding: 40px;
            margin: 20px;
            border-radius: 30px;
            justify-content: center;
            text-align: center;
            font-family: Marker Felt, fantasy;
        }

        hr {
            height: 30px;
            border-style: solid;
            border-color: #ffffff;
            border-width: 1px 0 0 0;
            border-radius: 20px;
        }

            hr:before {
                display: block;
                content: "";
                height: 30px;
                margin-top: -31px;
                border-style: solid;
                border-color: #ffffff;
                border-width: 0 0 1px 0;
                border-radius: 20px;
            }

        a {
            font-size: 40px;
        }
    </style>
</head>
<body>

    <div>
        <br><br><br>
        <h1>Rules</h1>
        <hr>
        A deck of shuffled cards where each card appears twice is placed in front of you with the cards facing down so you can see which card is where. The idea is tomatch the pairs of cards until there are no more cards available. At each turn you are allowed to flip two cards.
        <br><br><br><hr><br><br><br>
        <a href="../Home/Index">Back</a>
    </div>

</body>
</html>


